<div class="login-wrapper">
  <div class="login-container">
    <h2 class="text-center login-title">BMS</h2>
    <h4 class="text-center login-title">Iniciar Sesión</h4>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input 
          type="email" 
          class="form-control" 
          id="email" 
          [(ngModel)]="email"
          name="email" 
          required
          [disabled]="loading"
          autocomplete="off"
        >
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input 
          type="password" 
          class="form-control" 
          id="password" 
          [(ngModel)]="clave"
          name="password" 
          required
          [disabled]="loading"
          autocomplete="off"
        >
      </div>
      <button 
        type="submit" 
        class="btn btn-primary w-100"
        [disabled]="loading"
      >
        <span *ngIf="!loading">Ingresar</span>
        <span *ngIf="loading">
          <i class="fas fa-spinner fa-spin"></i> Cargando...
        </span>
      </button>
    </form>
  </div>
</div>